body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.time {
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(71, 180, 214);
  font-family: "Orbitron", sans-serif;
  font-size: 4em;
}
